[submodule "server/include/spdlog"]
	path = server/include/spdlog
	url = https://github.com/austinbenincasa/spdlog.git
[submodule "server/include/spdlog"]
	path = server/include/spdlog
	url = https://github.com/austinbenincasa/spdlog.git
